html, body {
  width: 100%;
  height: 100%;	
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,a,span,p,i,li {font-family: 'Open Sans', sans-serif;}

.rotate_animation { transition: 0.5s ease-in-out; }
.icon-rotate { transform: rotate(180deg); }
.display-none {display: none;}
.underline {text-decoration: underline;}
.main {height:calc(100% - 165px);}
.bold {font-weight:bold;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.float-left {float: left;}
.float-right {float: right;}
.none {display: none;}
.pad0 {padding: 0;}
.padr {padding-right: 0}
.padl {padding-left: 0}
.pad15 {padding-right: 15px;}
.padl15 {padding-left: 15px;}
.pad10 {padding: 10px 0;}
.wdt100 {width: 100%;}
.font10 {font-size: 10pt;}
.font11 {font-size: 11pt;}
.font12 {font-size: 12pt;}
.img-center {display: block; margin: 0 auto;}
.span-style {font-weight:bold; color: green;}
.span-main {font-weight:bold; color: black; font-family:arizonia;}
.pointer {cursor: pointer;}
.word-wrap {word-wrap: break-word; overflow-wrap: break-word;}
.only-read {color: #ddd;}
.list li {text-align: left;}
.nolist {list-style: none; display: inline-flex;}
.nolist li { padding-top: 10px; margin-right: 20px; text-align: center;}
.span-red {font-weight:bold; color:red;}

h2, h5 {text-transform: uppercase}
a {text-decoration: none;}
ul {list-style-type: none;}

.wrapper {background: #ddd}
.header {padding-top: 15px; background: #ccc;}
.content {border: 1px solid white; border-left: none; border-right: none;}
.footer {padding-bottom: 10px; background: #ccc; padding-top: 10px; height:50px; }
.navigation {background: #18AEC7; border: 1px solid white; border-left: none;color:white;}
.navigation a{color:white;}
.navigation .list-inline {margin:0;}
.navigation .list-inline li {border-bottom: 1px solid; padding: 10px;}
.navigation .list-inline li:hover{background: #01C3F4; cursor: pointer; }

.img-social {width: 25px;}
.team-logo {height: 100px;}
.img-head {width: 45px; }

.pos_span { color: #ffffff; }

.matches_list {
  overflow: auto;
  height: 400px;
  width: 20%;
  text-align: left;
  margin: 30px 50px;
  border: 1px solid;
  padding: 15px;
}

.team_cards { display: inline-flex; }

.team_card {
  width: 18%;
  background: #576ab3;
  margin-right: 1%;
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #292929;
  transition: 0.3s;
  height: auto;
}

.team_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.team_card input[type="checkbox"] {
    visibility: visible;
}

.team_card img {
    background: white;
    min-width: 100%;
    width: 100%;
    border: 2px ridge #292929;
    height: 18vh;
}

.team_action {
    width: 100%;
    margin-top: 2%
}

.team_action i { float: left; }

.team_action span {
    color: green;
    float: right;
}

.team_action .col-4 {
    padding: 0;
    padding-right: 5%;
}

.team_action button {
    width: 100%;
    background: darkgray;
    border: 5px solid gray;
    min-height: 55px;
    color: white;
    font-size: 1vw;
    padding: 0 5%;
}

.team_action button:hover {
    background: darkseagreen;
    cursor: pointer;
}

.team_action li {text-align: left;}

.player_stats {
    margin-top: 10%;
    font-size: 0.7vw;
}

.team_stats {
    width: 100%;
    margin-top: 2%;
    font-size: 0.7vw;
}

.team_stats .col-4 {
    padding: 0;
    padding-right: 5%;
}

.progress {
    margin-bottom: 10px;
}

.main_block {
  list-style: none;
  margin: 0;
  padding: 25px 30px;
  width: 100%;
    font-size: 1vw;
}

.main_block a {
  background: #01C3F4;
}

.team_info {
    font-size: 0.7vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    cursor: default;
}

.main_block li {
  color: black;
  background: transparent;
  margin: 0;
  padding: 0;
}

.team_kick a{
    background: transparent;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: red;
    font-size: 3vw;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 24px;
    text-decoration: none;
}

.team_kick a:hover{ color: darkred; }

input[type="checkbox"] { visibility: hidden; }

label { cursor: pointer; }

input[type="checkbox"] + label:before {
  background: black;
  border-radius: 25px;
  border: 4px solid grey;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 20px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 20px;
  position: relative;
  left: -4px;
}

input[type="checkbox"]:checked + label:before {
  background: #34ce57;
  color: #333;
  text-align: center;
}

input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.new-day{cursor: pointer}

.player_list li{
    text-align: left;
    border-bottom: 1px solid white;
}

.player_list {
    width: 100%;
    overflow: auto;
    height: 290px;
    background: lightblue;
    border: 1px solid white;
}

.player_list label {
    margin:0;
    padding: 5px 10px;
    width: 100%;
}

.button_arrow {
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.button_arrow:hover {
    transition: 0.3s;
    -webkit-filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
    drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
}

.next { margin-top: 160px;}

input[type="radio"]:checked + label {
    background: #01C3F4;
    color: #fff;
    width: 100%;
}

input[type="radio"] {display: none}

/*///////context menu////////*/

.menu {
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    display: none;
    position: absolute;
    width: 200px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    z-index: 100;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    -webkit-transform: translate(0, 15px) scale(.95);
    transform: translate(0, 15px) scale(.95);
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.menu-btn {
    background: none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 3px;
}
.menu-btn::-moz-focus-inner,
.menu-btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.menu-text {
    margin-left: 25px;
}
.menu-btn .fa {
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-item:hover > .menu-btn {
    color: #fff;
    outline: none;
    background-color: #2E3940;
    background: -webkit-linear-gradient(to bottom, #5D6D79, #2E3940);
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
}
.menu-item.disabled {
    opacity: .5;
    pointer-events: none;
}
.menu-item.disabled .menu-btn {
    cursor: default;
}
.menu-separator {
    display:block;
    margin: 7px 5px;
    height:1px;
    border-bottom: 1px solid #fff;
    background-color: #aaa;
}
.menu-item.submenu::after {
    content: "";
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-left-color: #808080;
}
.menu-item.submenu:hover::after {
    border-left-color: #fff;
}
.menu .menu {
    top: 4px;
    left: 99%;
}
.show-menu,
.menu-item:hover > .menu {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}
.menu-item:hover > .menu {
    -webkit-transition-delay: 100ms;
    transition-delay: 300ms;
}

/*/////end context menu////////*/

.login_top, .login_main {
    width: 100%;
    margin-bottom: 2%;
}

.login_top button {
    width: 100%;
    background: #18AEC7;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    height: 40px;
    font-size: 20px;
}

.login_form {
    background: #f4f4f2;
    border: 3px solid #01C3F4;
    border-radius: 5px;
    padding: 0 2%;
}

.login_form img {
    width: 3vw;
    height: 3vw;
}

.login_form img:hover {
    transition: 0.3s;
    -webkit-filter: drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
drop-shadow(4px 4px 3px rgba(0,0,0,0.5));
}

.login_form a {
    background: transparent;
}

.login_form input {
    background: #e2e5f3;
    border: 1px solid black;
}

.login_form input:hover, .login_form input:active {
    background: #f2f5fe;
}

.login_form li {
    margin-bottom: 5%;
}

.custom-file {
    width: 5vw;
}

.custom-file input {
    width: auto;
}

.custom-file span {
    color:white;
    background: darkgray;
    padding: 5px;
}

.custom-file span:hover {
    background: lightgray;
}

.logo_team {
    width: 7vw;
    height: 7vw;
}

/*/////////modal window////////*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    border: 2px solid white;
    color: white;
    background-color: #58897d;
    margin: auto;
    padding: 20px;
    width: 35%;
}

.close {
    color: white;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.match_modal {text-align: center;}

.match_modal .row { margin-bottom: 5%;}

.modal_content_match {
    height: auto;
    font-size: 28px;
    color: white;
    background-color: transparent;
    margin: auto;
    width: 35%;
}

.teams_images img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.teams_more img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.teams_more ul li {
    background: #005073;
    border-radius: 10px;
    font-size: 22px;
    border: 3px solid #189ad3;
    padding: 10px;
    margin-bottom: 1%;
}

.teams_more .row {margin: 0;}

    /*//////end modal window////////*/

.text-role {
    display: block;
    font-size: 50px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.modal_login { margin-top: 5%;}

.check-players {visibility: hidden; display: none;}
