@media (min-width: 1200px) {
  .front-page {
    width: 100%;
    height: 100%;
    .navigation-container {
      @include flex-column;
      justify-content: center;
      width: 50px;
      position: fixed;
      top: 50px;
      left: 0;
      background: $control;
      height: calc(100% - 50px);
      .menu-wrapper {
        li {
          .tab {
            @include flex-row;
            transition: all .25s ease-in-out;
            border-color: $border;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            font-size: 1.5rem;
            color: $text;
            &:hover {
              color: $border;
            }
          }
          .active {
            color: $border;
            border-left: solid 5px $border;
          }
        }
      }
    }
    .header-container {
      @include flex-row;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 0 15px;
      background: $control;
      .auth-wrapper {
        @include flex-row;
        margin-left: auto;
        li {
          line-height: 25px;
        }
        .sign-in {
          color: $text;
          margin-right: 30px;
        }
        .sign-up {
          text-align: center;
          display: block;
          width: 100px;
          border-radius: 15px;
          color: $border;
          border: solid 2px $border;
          opacity: .75;
          transition: all .25s ease-in-out;
          font-family: "Raleway SemiBold";
          &:hover {
            opacity: 1;
            background: $border;
            color: $text;
          }
        }
      }
      .profile-wrapper {
        margin-left: auto;
      }
    }
    .content-container {
      @include flex-row;
      width: calc(100% - 50px);
      flex-wrap: nowrap;
      margin-left: 50px;
      margin-top: 50px;
      height: calc(100% - 50px);
      padding: 15px;
      justify-content: space-between;
      align-items: flex-start;
      .view-block {
        margin: 0 15px;
        @include flex-column;
        flex: 1;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background: $block;
        height: 100px;
        min-width: 200px;
        transition: all .25s ease-in-out;
        box-shadow: 0 0 1px 1px $shadow;
        color: $text;
        &:hover {
          box-shadow: 0 0 5px 1px $shadow;
        }
        h4 {
          color: $border;
          font-size: 2rem;
        }
      }
      .links-block {
        margin: 0 15px;
        @include flex-row;
        flex: 0 1 50%;
        justify-content: space-around;
        align-items: center;
        border-radius: 5px;
        background: $block;
        height: 100px;
        transition: all .25s ease-in-out;
        box-shadow: 0 0 1px 1px $shadow;
        color: $text;
        &:hover {
          box-shadow: 0 0 5px 1px $shadow;
        }
        .title {
          @include flex-row;
          transition: all .25s ease-in-out;
          border-radius: 15px;
          width: 100px;
          opacity: .5;
          border: solid 1px $border;
          justify-content: center;
          align-items: center;
          height: 35px;
          h4 {
            color: $border;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}