@media (min-width: 1200px) {
  .front-page {
    .navigation-container {
      @include flex-column;
      justify-content: center;
      width: 50px;
      position: fixed;
      top: 50px;
      left: 0;
      background: $control;
      height: calc(100% - 75px);
      .menu-wrapper {
        li {
          .tab {
            @include flex-row;
            transition: all .25s ease-in-out;
            border-color: $border;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            font-size: 1.5rem;
            color: $text;
            &:hover {
              color: $border;
            }
          }
          .active {
            border-left: solid 5px $border;
          }
        }
      }
    }
    .header-container {
      @include flex-row;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 0 15px;
      background: $control;
      .auth-wrapper {
        @include flex-row;
        margin-left: auto;
        li {
          line-height: 25px;
        }
        .sign-in {
          color: $text;
          margin-right: 30px;
        }
        .sign-up {
          text-align: center;
          display: block;
          width: 100px;
          border-radius: 15px;
          color: $border;
          border: solid 2px $border;
          opacity: .75;
          transition: all .25s ease-in-out;
          font-family: "Raleway SemiBold";
          &:hover {
            opacity: 1;
            background: $border;
            color: $text;
          }
        }
      }
      .profile-wrapper {
        margin-left: auto;
      }
    }
  }
}